@charset "utf-8";

/* CSS Document */
@font-face {
  font-family: 'CabinetGrotesk-Regular';
  src: url('../fonts/CabinetGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Medium';
  src: url('../fonts/CabinetGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'CabinetGrotesk-Bold';
  src: url('../fonts/CabinetGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: 'CabinetGrotesk-Regular';
  font-weight: 400;
  margin: 0px;
  display: block;
  background: white;
}

/* Custom cursor */
* {
  cursor: none;
}

.cursor {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -50%;
  left: -50%;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  background-color: white;
  backface-visibility: hidden;
  transition: transform 0.2s ease-out;
  mix-blend-mode: difference;
  z-index: 1000;
  pointer-events: none;
}

.cursor.is-moving {
  transform: scale(0.8);
}

.content_cursor {
  position: relative;
  height: 100%;
}

/* Scrollbar */
html::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

html::-webkit-scrollbar-thumb {
  background: black;
}

/* Séléction texte */
*::selection {
  color: white;
  background-color: black;
}

/* Liens */
a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline black;
  text-decoration-thickness: 2px;
  background-color: none;
  cursor: ne-resize;
}

/* Texte */
h1 {
  color: black;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1em;
}

h2 {
  color: black;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.2em;
}

p {
  font-weight: 400;
  font-size: 1.2em;
  line-height: 24px;
  text-align: left;
}

bold {
  text-decoration: underline black;
  text-decoration-thickness: 1px;
}

/* Menu de navigation */
.navigation {
  background: white;
  display: block;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 60px;
}

.menu {
  background: white;
  font-size: 1.5em;
  width: 100%;
  margin-top: 30px;
  height: 30px;
  clear: inline-end;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.navbutton {
  float: left;
  text-align: center;
  width: 33%;
  border-left: 1px solid black;
}

/* Défilement texte */
.defilement {
  background: white;
  overflow: hidden;
  display: flex;
  top: 0px;
  width: 100%;
  height: 30px;
  vertical-align: center;
  position: fixed;
}

.defilement:hover {
  color: lightgrey;
}

.txt-def {
  white-space: nowrap;
  font-size: 1.5em;
  animation: scrollTxt 30s linear infinite;
}

@keyframes scrollTxt {
  0% {
    transform: translate(0%, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

/* Menu projets */
.menuprojet {
  z-index: 1;
  box-sizing: border-box;
  position: fixed;
  top: 30px;
  width: 24.95%;
  height: 100%;
  padding: 15px;
  border-right: 1px solid black;
}

.homepage {
  padding-right: 0;
  padding-left: 0;
  padding-top: 30px;
  color: black;
  font-weight: 400;
  font-size: 5.5em;
  position: relative;
  width: 100%;
  text-align: center;
  border: none;
}

.description {
  z-index: 0;
  position: fixed;
  width: 15%;
  top: 30px;
  left: 25%;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.titrecolonne {
  margin-bottom: 10px;
}

.descApropos {
  display: none;
}

.apropos {
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  top: 45px;
  left: 25%;
  width: 65%;
  padding-left: 15px;
}

.projets {
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  top: 60px;
  left: 40%;
  height: auto;
  width: 60%;
  padding: 15px;
  padding-bottom: 0;
  border-left: 1px solid black;
}

.image {
  float: left;
  max-width: 100%;
  margin-bottom: 15px;
}

/* Images index */
.divhome {
  width: 100%;
  border-bottom: 1px solid black;
}

.imageindex {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  pointer-events: none;
  width: 400px;
  height: auto;
  transform: translateX(10%) translateY(-50%);
}

.imagehomepage {
  position: absolute;
  z-index: 2;
  visibility: hidden;
  pointer-events: none;
  width: 27%;
  height: auto;
  transform: translateX(10%) translateY(-50%);
}

.imageindex.visible {
  visibility: visible;
}

.imagehomepage.visible {
  visibility: visible;
}

/* Responsive Tablette */
@media screen and (min-width:701px) and (max-width:1000px) {

  /* Texte */
  h1 {
    font-size: 2em;
    line-height: 1em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.2em;
  }

  /* Menu de navigation */
  .navigation {
    background: white;
    position: relative;
    z-index: 4;
    height: 60px;
    border-bottom: none;

  }

  .defilement {
    position: fixed;
  }

  .menu {
    background: white;
    position: fixed;
    height: 30px;
    width: 100%;
    clear: inline-end;
    top: 30px;
    margin: 0;
  }

  .navbutton {
    float: left;
    display: inline-block;
    text-align: center;
    width: 33%;
    border-right: 1px solid black;
    border-left: none;
  }

  .nb2 {
    border-right: none;
  }

  .nb4 {
    border-right: none;
  }

  /*  Menu visible des projets */
  .menuprojet {
    box-sizing: border-box;
    position: fixed;
    top: 40px;
    width: 30%;
    height: 100%;
    padding: 15px;
    z-index: 3;
  }

  .homepage {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0px;
    top: 0px;
    color: black;
    font-weight: 400;
    font-size: 60px;
    position: relative;
    width: 100%;
    text-align: center;
    border: none;
  }

  .imagehomepage {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    pointer-events: none;
    width: 350px;
    height: auto;
    transform: translateX(-50%) translateY(-75%);
    z-index: 1000;
  }

  /* Descritpions des projets */
  .description {
    position: relative;
    padding: 0;
    top: 0;
    margin: 0;
    width: 70%;
    left: 30%;
    padding-left: 15px;
    border-top: none;
  }

  .descApropos {
    display: none;
  }

  .titrecolonne {
    width: 32%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-bottom: 10px;
  }

  /* Bloc image des projets */
  .projets {
    position: relative;
    top: 0;
    padding: 15px;
    left: 30%;
    width: 70%;
    border-top: 1px solid black;
    border-left: none;
  }

  .apropos {
    position: relative;
    top: 0;
    padding-left: 15px;
    left: 30%;
    width: 70%;
    border-top: 1px solid black;
    border-left: none;
  }
}

@media screen and (max-width:700px) {

  /* Texte */
  h1 {
    font-size: 2em;
    line-height: 1em;
  }

  h2 {
    font-size: 1.25em;
    line-height: 1.2em;
  }

  /* Défilement texte */
  .defilement {
    font-size: 1.25em;
    line-height: 1.2em;
    background: white;
    overflow: hidden;
    display: flex;
    top: 0px;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid black;
    vertical-align: center;
    position: fixed;
    z-index: 10;
  }

  .txt-def {
    font-size: 1.25em;
  }

  /* Menu de navigation */
  .navigation {
    background: white;
    position: relative;
    z-index: 4;
    width: 100%;
    border-bottom: none;
    height: auto;
  }

  .navbutton {
    width: 100%;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
  }

  /*  Menu visible des projets */
  .menuprojet {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 100%;
    border-right: none;
    text-align: center;
  }

  .imageindex {
    width: 200px;
    height: auto;
    transform: translateX(-50%) translateY(-125%);
  }

  .homepage {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0px;
    top: 0px;
    color: black;
    font-weight: 400;
    font-size: 30px;
    line-height: 55px;
    position: relative;
    width: 100%;
    text-align: center;
    border: none;
  }

  .imagehomepage {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    pointer-events: none;
    width: 200px;
    height: auto;
    transform: translateX(-50%) translateY(-80%);
    z-index: 2;
  }

  /* Descritpions des projets */
  .description {
    position: relative;
    left: 0%;
    width: 100%;
    padding: 0;
    padding-left: 15px;
    margin-bottom: 40px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: none;
  }

  .descApropos {
    display: none;
  }

  .titrecolonne {
    width: 32%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    margin-bottom: 10px;
  }

  /* Bloc image des projets */
  .projets {
    position: relative;
    top: 0px;
    left: 0%;
    width: 100%;
    border-left: none;
    padding: 50px, 0, 0, 0;
  }

  .apropos {
    position: relative;
    top: 0px;
    left: 0%;
    width: 100%;
    border-left: none;
    border-top: 1px solid black;
    margin-top: 25px;
  }
}
